/* set some default stlyes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
}

body {
    font-family: 'Roboto' !important;
    letter-spacing: 1px;
}

/* style the app container and header */

#app {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: auto minmax(0, 1fr);
    height: 100%;
    max-height: 100%;
    position: relative;
}

/* added fixed position to header */
/* fixed position on header moot after adding scroll barless scroll in todo list columns */

header {
    background: #AD6889;
    color: #fafbfd;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    grid-row: 1;
    grid-column: 1 / 3;
    height: 85px;
    letter-spacing: 3px;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
}

/* styles the left column, or drawer aside */
/* faked a fixed position on drawer by making buttons fixed */

.left-drawer {
    align-items: flex-start;
    background: #34949e;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1;
    padding: 10px;
    position: relative;
    top: 85px;
    transition: width 0.5s ease, background 0.5s ease;
    width: 90px;
}

.left-drawer:hover {
    background: #1e7b85;
    transition: background 0.5s ease;
}

/* styles all the action buttons */

button.action {
    align-items: center;
    background: #1a1d24;
    border-radius: 10px;
    color: #fafbfd;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    transition: background 0.5s ease;
}

button.action:hover {
    cursor: pointer;
}

/* styles buttons only in the left drawer  */
/* made three standard buttons fixed position */
/* added new button to toggle the user preferences, also fixed */

.left-drawer .action {
    margin: 10px;
    height: 50px;
    min-width: 50px;
    padding: 10px 12px;
    position: fixed;
    top: 97px;
}

.left-drawer .action:last-of-type { margin-bottom: 0; }

.left-drawer .action i { font-size: 26px; }

.left-drawer .action-text {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.5s width linear;
    word-wrap: none;
}

.left-drawer .remove-completed { top: 167px; }

.left-drawer .remove-expired { top: 237px; }

/* specific code for user preferences  */

.left-drawer button.update-prefs {
    align-items: center;
    background: #1a1d24;
    border-radius: 10px;
    color: #fafbfd;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    left: 20px;
    position: fixed;
    top: calc(100vh - 100px);
    transition: background 0.5s ease, width 0.3s ease;
    z-index: 9999;
}

.left-drawer button.update-prefs i {
    padding: 13px;
}

/* helper css to open, close, and update prefs */

.left-drawer .update-prefs .custom-controls {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    opacity: 0;
    transition: 0.2s all ease-out;
    visibility: hidden;
    width: 0;
}

.left-drawer .update-prefs .custom-controls.open { 
    opacity: 1;
    transition: 0.5s all ease-in;
    visibility: visible;
    width: auto;
}

.left-drawer .update-prefs .custom-controls section {
    text-align: left;
    width: 200px;
}

.left-drawer .update-prefs .custom-controls input {
    margin: 0 5px;
    position: relative;
    top: -2px;
}

.drawer-open .left-drawer {
    transition: background 0.5s ease, width 0.5s ease;
    width: 300px;
}
.drawer-open .action {
    transition: width 0.3s ease;
    width: 260px;
}
.drawer-open .left-drawer .action-text {
    display: block;
    transition: all 0.3s linear;
}

/* styles for main container */

main {
    background: #fee2b3;
    display: grid;
    font-size: 16px;
    grid-row: 2;
    grid-column: 2;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 85px;
}

.todo-list {
    background: #d291bc;
    border-radius: 10px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-rows: auto minmax(0, 1fr);
    min-width: 300px;
    overflow-y: hidden;
    height: calc(100vh - 125px) 
}

.todo-list .list-title {
    background: #5a1d41;
    color: #fafbfd;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.todo-list .content {
    background: #d291bc;
    overflow-y: scroll;
    padding: 20px 20px 0;
    scrollbar-width: none;
}

.todo-list .content-footer {
    background: #d291bc;
    height: 20px;
}

.todo-list .content::-webkit-scrollbar {
    width: 0;
}

.todo {
    background: #fafbfd;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.75);
}

.todo:not(:first-of-type) {
    margin-top: 20px;
}

.todo h3 {
    background: #edd1e1;
    display: flex;
    flex-direction: column;
    padding: 15px 12px;
}

.todo h3 .title {
    color: #1a1d24;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.todo h3 .due-date {
    color: #5a1d41;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.todo pre {
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    min-height: 120px;
    padding: 20px 15px;
    white-space: pre-wrap;
}

.todo .actions {
    background: #edd1e1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 15px;
}

.todo .actions .action {
    background: #5a1d41;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5;
    width: 100px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.todo .actions .action:hover {
    background: #1e7b85;
}

.todo .actions .action:not(:first-of-type) {
    margin-left: 10px;
}

/* styles for modal */

.modal:not(.open) {
    display: none;
}

.modal.open {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal .content {
    background: #fafbfd;
    border-radius: 10px;
    box-shadow: 0 2px 12px -8px black;
    font-family: 'Roboto', sans-serif;
    min-height: 240px;
    max-width: 560px;
    padding: 20px 20px 30px;
    position: relative;
    top: 100px;
    width: 100%;
}

.modal h3 {
    border-bottom: 1px solid #cfcfcf;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-weight: 600;
    margin: 20px 0 5px;
}

.modal input,
.modal textarea {
    background: #e9e9e9;
    font-size: 20px;
    padding: 10px;
}

.modal input {
    margin-bottom: 5px;
}

.modal textarea {
    margin-bottom: 20px;
}

.modal .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal .action {
    background: #5a1d41;
    border-radius: 10px;
    cursor: pointer;
}

.modal .action:hover {
    background: #1e7b85;
}

.modal .action:not(:first-of-type) {
    margin-left: 12px;
}
.modal .action span {
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 6px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.modal input:invalid:required {
    border-bottom: 2px solid #1a1d24;
}
.modal input:valid:required + h5 {
    display: none;
}

.todo-form:invalid .when-valid {
    display: none;
}
.todo-form:valid .when-invalid {
    display: none;
}

/* dark mode */

.dark header { background: #1a1d24; color: #caced9; }

.dark .left-drawer { background: #5a3d5c; transition: all 0.1s ease; }
.dark .left-drawer button.action { background: #1a1d24; color: #caced9; transition: all 0.1s ease; }
.dark .left-drawer button.action i { color: #caced9; transition: all 0.1s ease; }
.dark .left-drawer button.update-prefs { color: #caced9; transition: all 0.1s ease; }
.dark main { background-color: #382039; }
.dark .list-title { color: #caced9; }
.dark .content { background: #caced9; }